body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    
}

.wrapper {
    display: flex;
    height: 100vh;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.side-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    color: #f2efea;
    background-color: #ff7879;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover {
    background-color: #ff6b6c;
}

.side-panel {
    display: none;
    width: 250px;
    flex-shrink: 0;
    padding: 20px;
    color: #f2efea;
    background-color: #ff7879;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .sp-icon-close {
    display: initial !important;
}

.side-panel-open .side-panel {
    display: initial;
}

.side-panel-open .sp-icon-open {
    display: none !important;
}

.sp-icon-close {
    display: none;
}

#map {
    height: 400px;
    width: 100%;
}

h1 {
    text-align: center;
}

.dates-button{
    display: block;
    margin-bottom: 10px;
    margin-left: 8px;
    /* max-width: 100px; */
}

.side-panel h4{
    text-align: center;
    text-decoration: underline;
}

#anna .heart-1{
    color: #ff6b6c;
}

#anna .heart-2{
    color:#ff7879;
}

#anna {
    color: pink;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}

#date {
    color: #ff7879;
    text-align: center;
    text-decoration: underline;
    margin: 5px 10px;
}

#date-desc {
    text-align: justify;
}

img {
    width: 25%;
    height: 25%;
    display: inline-block;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
}