body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.side-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: white;
    background-color: aquamarine;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover {
    background-color: aqua;
}

.side-panel {
    display: none;
    width: 220px;
    flex-shrink: 0;
    padding: 20px;
    color: white;
    background-color: aquamarine;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .sp-icon-close {
    display: initial !important;
}

.side-panel-open .side-panel {
    display: initial;
}

.side-panel-open .sp-icon-open {
    display: none !important;
}

.sp-icon-close {
    display: none;
}

#map {
    height: 400px;
    width: 100%;
}

h1 {
    text-align: center;
}

